.cart {
  background-color: rgba(255, 153, 0, 0.3);
  position: sticky;
  top: 0;
  padding: 20px 0;
}

.cart p {
  font-size: 17px;
  letter-spacing: 0.005rem;
  color: #2a414f;
  padding-left: 23px;
}

.cart h6 {
  font-size: 21px;
  margin-top: 10px;
  padding-left: 23px;
}

.cart-section h5 {
  font-size: 25px;
  text-align: center;
}
